<included>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</included>

<!--<included>-->
<!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder>-->
<!--        <pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
<!--        <charset>${CONSOLE_LOG_CHARSET}</charset>-->
<!--    </encoder>-->
<!--</appender>-->
<!--</included>-->